@{
    ViewData["Title"] = "Access Denied";
}

<div class="container text-center mt-5">
    <h1 class="text-danger display-1"><i class="fa-solid fa-ban"></i></h1>
    <h2 class="text-danger">Access Denied</h2>
    <p class="lead">You do not have permission to view this resource.</p>
    <a href="/" class="btn btn-primary mt-3">Return Home</a>
</div>